<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div style="margin-left: 15%; margin-right: 15%; height: 100%">
        <div th:if="${type eq 'news'}" class="newPostCategoryName" style="margin-top: 25px; width: 100px">뉴스</div>
        <div th:if="${type eq 'post'}" class="newPostCategoryName" style="margin-top: 25px; width: 100px">게시판</div>
        <div class="detailPostHead">
          <div class="detailPostHeadContent" th:text="${content.newsHeadline}">
            침착맨: 3단계 레몬! / 김풍: 이야 너 아프리카 오더니 많이
            변했다?ㅋㅋㅋㅋ
          </div>
          <div class="detailPostHeadContent" th:text="${content.newsDate}">2024/01/22</div>
        </div>
        <div class="detailPostSecond">
          <div class="detailPostHeadContent" style="font-weight: 100" th:if="${type eq 'news'}" th:text="${content.newsURL}">
            이유성
          </div>
          <div class="detailPostHeadContent" style="font-weight: 100" th:if="${type eq 'post'}" th:text="${content.nickname}">
            이유성
          </div>
          <div style="display: flex; justify-content: center">
            <div class="detailPostHeadContent" style="font-weight: 100" th:if="${type eq 'news'}" th:text="'조회 수 ' + ${content.newsCheckCount}">
              조회 수 5029
            </div>
            <div class="detailPostHeadContent" style="font-weight: 100" th:if="${type eq 'news'}" th:text="'추천 수 ' + ${content.newsLikeCount}">
              추천 수 31
            </div>
            <div class="detailPostHeadContent" style="font-weight: 100">
              댓글 2
            </div>
          </div>
        </div>
        <div class="detailPostContent" th:if="${type eq 'news'}" th:text="${content.newsContent.newsContentText}" ></div>
        <div class="detailPostContent" th:if="${type eq 'post'}" th:text="${content.content}" ></div>
        <div class="detailRecommand">
          <form method="post" th:action="@{'/news/' + ${newsId}}" class="detailRecommandLayout">
            <button
              type="submit"
              class="detailRecommandBox"
              style="color: #77d92b; width: 100px; border-color: #77d92b; cursor: pointer"
              name="action"
              th:value="${'like'}"
              th:text="${'추천'}"
            ></button>
            <div
              class="detailRecommandBox"
              style="
                color: #b8b8b8;
                border-radius: 2rem;
                border: 2px solid #b8b8b8;
                width: 50px;
              "
              th:if="${type eq 'news'}" th:text="${content.newsLikeCount}"
            ></div>
            <button
              type="submit"
              class="detailRecommandBox"
              style="color: #ff7474; width: 100px; border-color: #ff7474; cursor: pointer"
              name="action"
              th:value="${'dislike'}"
              th:text="${'비추천'}"
            ></button>
          </form>
        </div>
        <div class="detailCommandHead">댓글 3개</div>
        <div class="detailCommandLayout">
          <div class="detailCommandDetail">
            <div class="detailCommandLayoutName">
              <div class="detailCommandNickname">이유성</div>
              <div class="detailCommandDate">01/22</div>
            </div>
            <div class="detailCommandText">이게 뭘까요?</div>
          </div>
          <div class="detailCommandDetail">
            <div class="detailCommandLayoutName">
              <div class="detailCommandNickname">이유성</div>
              <div class="detailCommandDate">01/22</div>
            </div>
            <div class="detailCommandText">이게 뭘까요?</div>
          </div>
          <div class="detailCommandDetail">
            <div class="detailCommandLayoutName">
              <div class="detailCommandNickname">이유성</div>
              <div class="detailCommandDate">01/22</div>
            </div>
            <div class="detailCommandText">이게 뭘까요?</div>
          </div>
          <div class="detailCommandDetail">
            <div class="detailCommandLayoutName">
              <div class="detailCommandNickname">이유성</div>
              <div class="detailCommandDate">01/22</div>
            </div>
            <div class="detailCommandText">이게 뭘까요?</div>
          </div>
          <div class="detailCommandDetail">
            <div class="detailCommandLayoutName">
              <div class="detailCommandNickname">이유성</div>
              <div class="detailCommandDate">01/22</div>
            </div>
            <div class="detailCommandText">이게 뭘까요?</div>
          </div>
        </div>
        <div class="commandRegister">
          <div class="commandRegisterTitle">댓글 쓰기</div>
          <form method="post" class="commandRegisterForm">
            <input
              placeholder="댓글 작성 하실려면 로그인이 필요합니다. 로그인하시겠습니까?"
              class="commandInput"
            />
            <button
              class="newPostCategoryName"
              style="margin-top: 0; width: 80px"
            >
              등록하기
            </button>
          </form>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: end;
          margin-top: 30px;
          margin-right: 5%;
        "
      >
        <form method="post">
          <button type="submit" class="registerPickWord" style="width: 150px">
            새 글 작성
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
