<div th:fragment="header">
      <header
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        "
      >
        <div class="logoSign">
          <img src="../image/logo.png" class="logoImage" />
        </div>
        <div class="buttons">
          <div class="whiteButton" style="margin-right: 20px"><a th:href="@{/login}">로그인</a></div>
          <div class="whiteButton" style="background-color: #ff6666">
            <a th:href="@{/signup}">
              회원가입
            </a>
          </div>
        </div>

        <div class="mainButtons">
          <div style="margin: 5px; cursor: pointer">
            <a th:href="@{/}">메인 페이지</a>
          </div>
          <div style="margin: 5px; cursor: pointer"><a th:href="@{/news}">뉴스 페이지</a></div>
          <div style="margin: 5px; cursor: pointer"><a th:href="@{/post}">게시판</a></div>
          <div style="margin: 5px; cursor: pointer"><a th:href="@{/mypage}">마이 페이지</a></div>
        </div>
        <form method="get" class="mainSearch" th:action="@{/search}">
          <select name="type" required id="type">
            <option value="posts">게시판</option>
            <option value="news">뉴스</option>
          </select>
          <input type="text" name="keyword" class="searchInputForm"/>
          <input
            type="submit"
            class="searchInputForm"
            value="검색하기"
            style="
              width: 100px;
              background-color: white;
              font-weight: bold;
              text-indent: 2px;
              cursor: pointer;
              border-width: 2px;
            "
          />
        </form>
      </header>
</div>