<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"/>
    <link rel="stylesheet" th:href="@{/css/stylecss.css}" />
    <title>Title</title>
  </head>
  <body>
    <div class="center">
      <div class="loginBox">
        <img src="../image/LoginSignupLogo.png" class="imageBox" />
        <form method="post" class="loginForm" th:action="@{/login}" th:object="${loginData}">
          <input
            type="text"
            placeholder="ID"
            th:field="*{id}"
            class="loginInputForm"
          />
         <input
            type="password"
            placeholder="PASSWORD"
            th:field="*{password}"
            class="loginInputForm"
          />
          <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
          <input class="loginEnterForm" value="로그인" type="submit" />

        </form>

        <div style="display: flex; justify-content: center; margin-top: 30px">
          <div style="margin-right: 45px; cursor: pointer; padding: 10px">
            <a th:href="@{/}">메인</a>
          </div>
          <div style="margin-left: 45px; cursor: pointer; padding: 10px">
            <a th:href="@{/signup}">회원가입</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
