<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div class="mainContent">
        <div class="basicContainer">
          <div class="containerHead">주식 관련 최신 뉴스</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${newsList}">
                <a th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="basicContainer">
          <div class="containerHead" th:text="${session.loginMember} != null ? '관심어 뉴스' : '나스닥 뉴스'">관심어 뉴스</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:unless="${session.loginMember != null}" th:each="news : ${nasdaqList}">
                <a th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
              <li th:if="${session.loginMember != null}" th:each="news : ${preferenceNews}">
                <a th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="basicContainer">
          <div class="containerHead">인기 뉴스</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${popularNewsList}">
                <a th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
