<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}">
    <title>NEWSTOCK</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div class="mainContent">
        <div class="basicContainer" sec:authorize="isAnonymous()">
          <div class="containerHead">
            <p style="font-weight: 800">주식 관련&nbsp;</p>
            <p>최신 뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.newsList}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="basicContainer" style="width:25%" sec:authorize="hasRole('USER')">
          <div class="containerHead">
            <p style="font-weight: 800">주식 관련&nbsp;</p>
            <p>최신 뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.newsList}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>


        <div class="basicContainer" sec:authorize="isAnonymous()">
          <div class="containerHead">
            <p style="font-weight: 800">인기&nbsp;</p>
            <p>뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.popularNewsList}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="basicContainer" sec:authorize="hasRole('USER')">
          <div class="containerHead">
            <p style="font-weight: 800">인기&nbsp;</p>
            <p>뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.popularNewsList}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="basicContainer" sec:authorize="isAnonymous()">
          <div class="containerHead">
            <p style="font-weight: 800">나스닥&nbsp;</p>
            <p>뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.nasdaqList}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="basicContainer" sec:authorize="hasRole('USER')" style="width:40%">
          <div class="containerHead" style="color:#2f5597" >
            <p style="font-weight: 800" >관심어&nbsp;</p>
            <p>뉴스</p></div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${homeDto.preferenceNews}" class="interestWord">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
