<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div class="mainContent" style="height: 250px">
        <div class="basicContainer">
          <div class="containerHead">관심어, 검색어</div>
          <div style="overflow: auto; height: 87%">
            <div class="pickWordList">
              <div style="display: flex; justify-content: center">
                <div class="pickWord">코스닥</div>
                <form method="post">
                  <button type="submit" class="deletePickWord">x</button>
                </form>
              </div>
            </div>
            <div class="pickWordList">
              <div style="display: flex; justify-content: center">
                <div class="pickWord">포켓몬을따라한 펠월드? 문제가 되나?</div>
                <form method="post">
                  <button type="submit" class="deletePickWord">x</button>
                </form>
              </div>
            </div>
            <div class="pickWordList">
              <div style="display: flex; justify-content: center">
                <div class="pickWord">펠월드를 제작한 20대 편의점 알바생</div>
                <form method="post">
                  <button type="submit" class="deletePickWord">x</button>
                </form>
              </div>
            </div>
            <div class="pickWordList">
              <div style="display: flex; justify-content: center">
                <div class="pickWord">다시 한번 포켓몬 속으로 펠월드</div>
                <form method="post">
                  <button type="submit" class="deletePickWord">x</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="basicContainer">
          <div class="containerHead">작성한 게시물</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
              <li>f</li>
              <li>g</li>
              <li>h</li>
              <li>i</li>
              <li>h</li>
            </ul>
          </div>
        </div>
        <div class="basicContainer">
          <div class="containerHead">최근 본 게시물</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
              <li>f</li>
              <li>g</li>
              <li>h</li>
              <li>i</li>
              <li>h</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mainContent" style="height: 250px">
        <div class="pickWordRegister">
          <form method="post">
            <div style="display: flex; justify-content: space-between">
              <input class="searchInputForm" />
              <button type="submit" class="registerPickWord">등록</button>
            </div>
          </form>
        </div>
        <div class="basicContainer">
          <div class="containerHead">관심, 관심어 뉴스</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
              <li>f</li>
              <li>g</li>
              <li>h</li>
              <li>i</li>
              <li>h</li>
            </ul>
          </div>
        </div>
        <div class="basicContainer">
          <div class="containerHead">최근 본 뉴스</div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li>a</li>
              <li>b</li>
              <li>c</li>
              <li>d</li>
              <li>e</li>
              <li>f</li>
              <li>g</li>
              <li>h</li>
              <li>i</li>
              <li>h</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
