<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div class="mainContent" style="height: 250px">
        <div class="basicContainer" style="width:20%">
          <div class="containerHead">
            <p style="font-weight: 800">관심어&nbsp;</p>
            <p style="font-weight: 800">검색어</p>
          </div>
          <div style="overflow: auto; height: 87%; background-color:#DAE3F3; border-radius:0.3rem; border:none">
            <div class="pickWordList" th:each="interestWord : ${preferenceTitle}">
              <div style="display: flex; justify-content:center">
                <div class="pickWord" th:text="${interestWord.preferenceTitle}"></div>
                <form method="post" th:action="@{/mypage/delete/{preferenceTitleId}(preferenceTitleId=${interestWord.preferenceTitleId})}">
                  <button type="submit" name="delete" class="deletePickWord">x</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="basicContainer" style="width:35%">
          <div class="containerHead">
            <p style="font-weight: 800">작성&nbsp;</p>
            <p>게시물</p>
          </div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="post : ${myPost}">
                <a class="aText" th:text="${post.postTitle}" th:href="@{/post/{postId}(postId=${post.postId})}"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="basicContainer"  style="width:35%">
          <div class="containerHead">
            <p style="font-weight: 800">최근 본&nbsp;</p>
            <p>게시물</p>
          </div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="post : ${recentPost}">
                <a class="aText" th:text="${post.post.postTitle}" th:href="@{/post/{postId}(postId=${post.post.postId})}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mainContent" style="height: 250px; margin-top: 3%">
        <div class="pickWordRegister">
          <form method="post" th:action="@{/mypage/add}">
            <div style="display: flex; justify-content: space-between">
              <input class="searchInputForm"  name="interestWord"/>
              <button type="submit" class="registerPickWord">등록</button>
            </div>
          </form>
        </div>
        <div class="basicContainer" style="width:35%">
          <div class="containerHead">
            <p style="font-weight: 800">관심어, 검색어&nbsp;</p>
            <p>뉴스</p>
          </div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${preferenceNews}">
                <a class="aText" th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="basicContainer" style="width:35%">
          <div class="containerHead">
            <p style="font-weight: 800">최근 본&nbsp;</p>
            <p>뉴스</p>
          </div>
          <div style="overflow: auto; height: 87%">
            <ul>
              <li th:each="news : ${recentNews}">
                <a class="aText" th:text="${news.news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.news.newsId})}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
