<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div
        style="
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 5%;
          height: 100%;
        "
      >
        <div class="newPostCategoryName" th:text="${category}"></div>
        <form method="post" style="height: 80%; width: 100%" enctype="multipart/form-data">
          <textarea class="posttitle" placeholder="제목을 입력해주세요." name="title"></textarea>
          <textarea placeholder="게시글을 작성해주세요." name="content"></textarea>
          <div style="width: 100%; margin-top: 20px; margin-bottom: 50px">
            <div
              style="width: 50%; display: flex; justify-content: space-between"
            >
              <label for="file">
                <div class="newPostGetFile" style="font-size: small">
                  이미지 첨부
                </div>
              </label>
              <input type="file" id="file" multiple="multiple" name="fileList"/>
              <button type="submit" class="newPostGetFile">임시 저장</button>
              <button type="submit" class="newPostGetFile" style="width: 150px">
                임시 저장 불러오기
              </button>
            </div>
          </div>
          <div
            style="display: flex; justify-content: end; padding-bottom: 30px"
          >
            <button
              type="submit"
              class="newPostGetFile"
              style="background-color: white; color:#2f5597;
                      border: 1px solid color:#2f5597"
            >
              작성 취소
            </button>
            <button
              type="submit"
              class="newPostGetFile"
              style="background-color: #2f5597; margin-left: 50px; color:white;
                      border:none;"
            >
              글 등록
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
