<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <link rel="icon" th:href="@{/image/favicon.png}">
    <title>NEWSTOCK</title>
    <script th:inline="javascript">
      function checkLogin(action) {
          var sessionValue = /*[[${session.loginMember != null}]]*/ false;
          if (!sessionValue) {
              alert('로그인이 필요합니다!!');
          }else {
            document.getElementById('recommendForm').action = '/news/' + /*[[${newsId}]]*/;
            document.getElementById('actionInput').value = action;
            document.getElementById('recommendForm').submit();
          }
      }

      function registerComment(){
        var sessionValue = /*[[${session.loginMember != null}]]*/ false;
        if(!sessionValue){
          alert('로그인이 필요합니다!!');
        } else {
          document.getElementById('commentForm').action =  '/news/' + /*[[${newsId} + '/add']]*/;
          document.getElementById('commentForm').submit();
        }
      }

      function deleteComment(){
        document.getElementById('deleteForm').action =  '/news/' + /*[[${newsId} + '/delete']]*/;
        document.getElementById('deleteForm').submit();
      }
    </script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div style="margin-left: 15%; margin-right: 15%; height: 100%">
        <div class="newPostCategoryName" style="margin-top: 25px; width: 100px">뉴스</div>
        <div class="detailPostHead">
          <div class="detailPostHeadContent" th:text="${newsDetail.content.newsHeadline}">
          </div>
          <div class="detailPostHeadContent" th:text="${newsDetail.content.newsDate}"></div>
        </div>
        <div class="detailPostSecond">
          <div class="detailPostHeadContent" style="font-weight: 100" >
            <a style="color:black; cursor:pointer" th:text="${newsDetail.content.newsURL}" th:href="${newsDetail.content.newsURL}"></a>
          </div>
          <div style="display: flex; justify-content: center">
            <div class="detailPostHeadContent" style="font-weight: 100" th:text="'조회 수 ' + ${newsDetail.content.newsCheckCount}"></div>
            <div class="detailPostHeadContent" style="font-weight: 100" th:text="'추천 수 ' + ${newsDetail.content.newsLikeCount}"></div>
            <div class="detailPostHeadContent" style="font-weight: 100" th:text="'댓글 수 ' + ${newsDetail.newsCommentList.size()}"></div>
          </div>
        </div>
        <div class="detailPostContent" th:text="${newsDetail.content.newsContent.newsContentText}" ></div>
        <div class="detailRecommend">
          <form method="post" class="detailRecommendLayout" id="recommendForm">
            <button
              class="detailRecommendBox"
              style="color: #77d92b; width: 100px; border-color: #77d92b; cursor: pointer"
              name="actionLike"
              onclick="checkLogin('like')"
              type="button"
              th:text="${'추천'}"
            ></button>
            <div
              class="detailRecommendBox"
              style="
                color: #b8b8b8;
                border-radius: 2rem;
                border: 2px solid #b8b8b8;
                width: 50px;
              "
              th:text="${newsDetail.content.newsLikeCount}"
            ></div>
            <button
              class="detailRecommendBox"
              style="color: #ff7474; width: 100px; border-color: #ff7474; cursor: pointer"
              name="actionDisLike"
              onclick="checkLogin('dislike')"
              type="button"
              th:text="${'비추천'}"
            ></button>
            <input type="hidden" id="actionInput" name="action" th:value="${null}" />
          </form>
        </div>
        <div class="detailCommandHead" th:text="'댓글 수 ' + ${newsDetail.newsCommentList.size()}"></div>
        <div class="detailCommandLayout">
          <div class="detailCommandDetail" th:each="newsComment:${newsDetail.newsCommentList}">
            <div class="detailCommandLayoutName">
              <div style="display:flex; justify-content:space-between; width:100%">
                <div style="display:flex;">
                  <div class="detailCommandNickname" th:text="${newsComment.user.nickname}"></div>
                  <div class="detailCommandDate" th:text="${newsComment.newsCommentDate}"></div>
                </div>
                <form th:if="${session.loginMember != null && newsDetail.viewUser.userId != null && newsComment.user.userId == newsDetail.viewUser.userId}" method="post" id="deleteForm">
                  <button type="button" class="deleteCommentButton" onclick="deleteComment()" th:text="${'삭제'}"></button>
                  <input type="hidden" name="newsCommentId" th:value="${newsComment.newsCommentId}"/>
                </form>
              </div>
            </div>
            <div class="detailCommandText" th:text="${newsComment.newsCommentContent}"></div>
          </div>
        </div>
        <div class="commandRegister">
          <div class="commandRegisterTitle">댓글 쓰기</div>
          <form method="post" class="commandRegisterForm" id="commentForm" onsubmit="return false">
            <input
              th:placeholder="${session.loginMember != null} ? '' : '댓글 작성 하실려면 로그인이 필요합니다. 로그인하시겠습니까?'"
              name="newsCommentContent"
              class="commandInput"
              type="text"
            />
            <button
              class="newPostCategoryName"
              style="margin-top: 0; width: 80px; cursor:pointer"
              onclick="registerComment()"
              type="button"
            >
              등록하기
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
