<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>

      <div class="postNewsMain">
        <div class="postNewsCategory">
          <div class="postNewsCateCate">카테고리</div>
          <div class="postNewsCatetitle">제목</div>
          <div class="postNewsCateDate">날짜</div>
          <div class="postNewsCateCount">조회 수</div>
          <div class="postNewsCateRecommend">추천</div>
        </div>
        <div style="overflow:auto; height:90%">
        <table>
          <tbody>
            <tr th:each="news:${newsList}" >
              <td class="td_category" th:text="${news.newsTopic}"></td>
              <td class="td_title" ><a th:text="${news.newsHeadline}" th:href="@{/news/{newsId}(newsId=${news.newsId})}"></a></td>
              <td class="td_date" th:text="${news.newsDate}"></td>
              <td class="td_count" th:text="${news.newsCheckCount}"></td>
              <td class="td_recommend" th:text="${news.newsLikeCount}"></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </body>
</html>
