<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
    <script th:inline="javascript">
      function clickCount() {
        updateQuery("target", "count");
      }

      function clickLike() {
        updateQuery("target", "like");
      }

      function clickDate() {
        updateQuery("target", "date");
      }

      function updateQuery(key, value) {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set(key, value);
        window.location.href = url.href;
      }
    </script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>

      <div class="postMainContent">
        <div class="containerHead">
          <p class="postTitleStyle" style="font-weight: 800">경제&nbsp;</p>
          <p class="postTitleStyle">뉴스</p>
        </div>
        <div class="postConstruct" style="margin-bottom: 10px; justify-content: end; width: 100%">
          <p style="font-size: medium; cursor: pointer" onclick="clickCount()">조회순</p>
          <p style="font-size: medium; margin-left: 20px; cursor: pointer" onclick="clickLike()">인기순</p>
          <p style="
              font-size: medium;
              margin-left: 20px;
              margin-right: 3%;
              cursor: pointer;
            " onclick="clickDate()">날짜순</p>
        </div>
        <div class="postConstruct" style="
            margin-bottom: 40px;
            padding-top: 3.5px;
            padding-bottom: 3.5px;
            border-top: 1.5px solid lightgray;
            border-bottom: 1.5px solid lightgray;
          ">
          <div class="td_title" style="cursor: auto; width:65%">
            <a class="aSpecial">제목</a>
          </div>
          <div class="td_date"><a class="aSpecial">날짜</a></div>
          <div class="td_count"><a class="aSpecial">조회</a></div>
          <div class="td_recommend"><a class="aSpecial">추천</a></div>
        </div>
        <ul class="postConstruct" style="margin-bottom: 5px; height: auto">
          <li
                  style="
              display: flex;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 0;
              padding-right: 0;
              cursor: auto;
            "
                  th:each="news:${newsList}"
          >
            <a
                    class="td_title aSpecial"
                    style="height: auto; align-items: center; cursor: pointer;width:65%"
                    th:text="${news.newsHeadline}"
                    th:href="@{'/news/' + ${news.newsId}}"
            ></a>
            <a
                    class="td_date aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${news.newsDate}"
            ></a>
            <a
                    class="td_count aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${news.newsCheckCount}"
            ></a>
            <a
                    class="td_recommend aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${news.newsLikeCount}"
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
