<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <link rel="icon" th:href="@{/image/favicon.png}">
    <title>NEWSTOCK</title>
    <style>
      .preview-container {
        display: flex;
        flex-wrap: wrap;
      }
      .preview-img {
        max-width: 150px;
        max-height: 150px;
        margin: 5px;
      }

    </style>
    <script>
      function goBack() {
          window.history.back();
      }
      function removeImage(element) {
        element.parentElement.remove();
      }
      function saveTempPost() {
        alert('이미지는 저장되지 않습니다.');
        const form = document.getElementById('postFile');
        form.action = window.location.href + "/temp";
      }
    </script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div
        style="
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 5%;
          height: 100%;
        "
      >
        <div class="newPostCategoryName" th:text="${postAddDto.category}"></div>
        <form method="post" style="height: 80%; width: 100%" enctype="multipart/form-data" id="postFile">
          <textarea class="posttitle" placeholder="제목을 입력해주세요." name="title" th:text="${postAddDto.tempData.tempPostTitle != null ? postAddDto.tempData.tempPostTitle : ''}"></textarea>
          <textarea placeholder="게시글을 작성해주세요." name="content" th:text="${postAddDto.tempData.tempPostText != null ? postAddDto.tempData.tempPostText : ''}"></textarea>
          <div style="width: 100%; margin-top: 20px; margin-bottom: 50px">
            <div
              style="width: 50%; display: flex; justify-content: space-between"
            >
              <label for="file">
                <div class="newPostGetFile" style="font-size: small">
                  이미지 첨부
                </div>
              </label>
              <input type="file" id="file" multiple="multiple" name="fileList" onchange="previewFiles()"/>
              <button type="submit" class="newPostGetFile" onclick="saveTempPost()">임시 저장</button>
              <button type="button" class="newPostGetFile" style="width: 150px">
                <a th:href="@{/post/add/temp/{category}(category=${category})}">
                  임시 저장 불러오기
                </a>
              </button>
            </div>
          </div>
          <div class="preview-container" id="previewContainer"></div>
          <script>
            function previewFiles() {
              const fileInput = document.getElementById("file");
              const previewContainer = document.getElementById("previewContainer");
              previewContainer.innerHTML = "";

              const files = fileInput.files;

              for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (event) {
                  const imgElement = document.createElement("img");
                  imgElement.className = "preview-img";
                  imgElement.src = event.target.result;
                  previewContainer.appendChild(imgElement);
                };

                reader.readAsDataURL(file);
              }
            }
          </script>
          <div
                  style="display: flex; justify-content: end; padding-bottom: 30px"
          >
            <button
              type="button"
              class="newPostGetFile"
              style="background-color: white; border:1px solid #2f5597; color: #2f5597"
              onclick="goBack()"
            >
              작성 취소
            </button>
            <button
              type="submit"
              class="newPostGetFile"
              style="background-color: #2f5597; margin-left: 50px; color:white;
                      border:none;"
            >
              글 등록
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
