<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <link rel="icon" th:href="@{/images/favicon.png}">
    <title>NEWSTOCK</title>
    <style>
      .preview-container {
        display: flex;
        flex-wrap: wrap;
      }
      .preview-img {
        max-width: 150px;
        max-height: 150px;
        margin: 5px;
      }

    </style>
    <script>
      function goBack() {
          window.history.back();
      }
      document.getElementById("myForm").addEventListener("submit", function(event) {
        var imagePaths = document.getElementsByName("imagePaths");
        for (var i = 0; i < imagePaths.length; i++) {
            var imagePath = imagePaths[i].value;
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "imagePaths[]");
            input.setAttribute("value", imagePath);
            this.appendChild(input);
        }
    });

      function previewFiles() {
              const fileInput = document.getElementById("file");
              const previewContainer = document.getElementById("previewContainer");
              previewContainer.innerHTML = "";

              const files = fileInput.files;

              for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const reader = new FileReader();

                reader.onload = function (event) {
                  const imgElement = document.createElement("img");
                  imgElement.className = "preview-img";
                  imgElement.src = event.target.result;
                  previewContainer.appendChild(imgElement);
                };

                reader.readAsDataURL(file);
              }
            }
    </script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>
      <div
        style="
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 5%;
          height: 100%;
        "
      >
        <div class="newPostCategoryName" th:text="${postUpdateData.post.category.categoryContent}"></div>
        <form method="post" style="height: 80%; width: 100%" enctype="multipart/form-data">
          <textarea class="posttitle" placeholder="제목을 입력해주세요." name="title" th:text="${postUpdateData.post.postTitle}"></textarea>
          <textarea placeholder="게시글을 작성해주세요." name="content" th:text="${postUpdateData.post.postContent.postContentText}"></textarea>
          <div style="width: 100%; margin-top: 20px; margin-bottom: 50px">
            <div
              style="width: 50%; display: flex; justify-content: space-between"
            >
              <label for="file">
                <div class="newPostGetFile" style="font-size: small">
                  이미지 첨부
                </div>
              </label>
              <input type="file" id="file" multiple="multiple" name="fileList" onchange="previewFiles()"/>
            </div>
          </div>
          <div class="preview-container" id="previewContainer"></div>
          <div class="imageBox">
            <div th:each="imageFile : ${postUpdateData.postImageList}" style="display:flex">
              <img class="postUpdateImage" style="margin-right:10px; margin-left:10px" th:src="|${imageFile.postImagePath}|"/>
              <input type="hidden" name="imagePaths" th:value="${imageFile.postImagePath}">
              <button type="button" class="deleteCommentButton" style="margin-top:20px" onclick="removeImage(this)">삭제</button>
              <input type="hidden" name="deletePaths" th:value="${imageFile.postImagePath}">
              <script>
                function removeImage(button) {
                    var imageDiv = button.parentElement;
                    var image = imageDiv.querySelector("img");

                    var hiddenInput = imageDiv.querySelector("input[name='imagePaths']");
                    hiddenInput.parentNode.removeChild(hiddenInput);

                    imageDiv.removeChild(button);
                    imageDiv.removeChild(imageDiv.querySelector("img"));
                }
              </script>
            </div>
          </div>
          <div
                  style="display: flex; justify-content: end; padding-bottom: 30px"
          >
            <button
              type="button"
              class="newPostGetFile"
              style="background-color: white; border:1px solid #2f5597; color: #2f5597"
              onclick="goBack()"
            >
              수정 취소
            </button>
            <button
              type="submit"
              class="newPostGetFile"
              style="background-color: #2f5597; margin-left: 50px; color:white;
                      border:none;"
            >
              글 수정
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
