<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/stylemain.css}" />
    <title>Title</title>
    <script th:inline="javascript">
      function clickCount() {
        updateQuery("target", "count");
      }

      function clickLike() {
        updateQuery("target", "like");
      }

      function clickDate() {
        updateQuery("target", "date");
      }

      function updateQuery(key, value) {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set(key, value);
        window.location.href = url.href;
      }
    </script>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="center">
      <div th:replace="head_fragment :: header"></div>

      <div class="postMainContent">
        <div class="containerHead">
          <p class="postTitleStyle" style="font-weight: 800" th:text="${mainName + '&nbsp;'}"></p>
          <p class="postTitleStyle">게시판</p>
        </div>
        <div
                class="postConstruct"
                style="margin-bottom: 10px; justify-content: end; width: 100%"
        >
          <p style="font-size: medium; cursor: pointer" onclick="clickCount()">조회순</p>
          <p style="font-size: medium; margin-left: 20px; cursor: pointer" onclick="clickLike()">
            인기순
          </p>
          <p
                  style="
              font-size: medium;
              margin-left: 20px;
              margin-right: 3%;
              cursor: pointer;
            "
                  onclick="clickDate()"
          >
            날짜순
          </p>
        </div>
        <div
                class="postConstruct"
                style="
            margin-bottom: 40px;
            padding-top: 3.5px;
            padding-bottom: 3.5px;
            border-top: 1.5px solid lightgray;
            border-bottom: 1.5px solid lightgray;
          "
        >
          <div class="td_title" style="cursor: auto">
            <a class="aSpecial">제목</a>
          </div>
          <div class="td_nickname"><a class="aSpecial">닉네임</a></div>
          <div class="td_date"><a class="aSpecial">날짜</a></div>
          <div class="td_count"><a class="aSpecial">조회</a></div>
          <div class="td_recommend"><a class="aSpecial">추천</a></div>
        </div>
        <ul class="postConstruct" style="margin-bottom: 5px; height: auto">
          <li
                  style="
              display: flex;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 0;
              padding-right: 0;
              cursor: auto;
            "
                  th:each="post:${postList}"
          >
            <a
                    class="td_title aSpecial"
                    style="height: auto; align-items: center; cursor: pointer"
                    th:text="${post.postTitle}"
                    th:href="@{'/post/' + ${post.postId}}"
            ></a>
            <a
                    class="td_nickname aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${post.user.nickname}"
            ></a>
            <a
                    class="td_date aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${post.postDate}"
            ></a>
            <a
                    class="td_count aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${post.postCheckCount}"
            ></a>
            <a
                    class="td_recommend aSpecial"
                    style="height: auto; align-items: center"
                    th:text="${post.postLikeCount}"
            ></a>
          </li>
        </ul>
      </div>
      <div
              style="
          display: flex;
          justify-content: end;
          margin-top: 30px;
          margin-right: 5%;
        "
      >
          <button type="button" class="registerPickWord" style="width: 100px">
            <a th:href="@{'/post/add/' + ${category}}">새 글 작성</a>
          </button>
      </div>
    </div>
  </body>
</html>
